$button-background: rgba(255,255,255,.1)
$button-background-hover: rgba(255,255,255,.2)


.button
  &+&
    margin-left: 15px

  // @extend %uppercase
  font-size: size(smaller)
  font-weight: 700
  text-transform: uppercase

  +transition-simple
  background: $button-background
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.05)
  color: white
  padding: 12px 25px
  border-radius: $radius-rounded
  cursor: pointer

  &:hover,
  &:visited,
  &:focus
    +transition-simple
    color: white
    background: $button-background-hover
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.1)

  @each $name, $color in $colors
    &.btn-#{$name}
      background: $color
      color: findColorInvert($color)
      &:hover,
      &:visited,
      &:focus
        color: findColorInvert($color)
        background: lighten($color, 10%)
  &.btn-simple
    background: transparent
    box-shadow: none
    &:hover
      background: $button-background
  &.btn-medium
    font-size: size(smaller)

button
  @extend .button
