.footer
  &-sticky
    height: 100%
    display: flex
    flex-direction: column

  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  flex: 0 0 auto

  font-size: size(smaller)

  padding: 40px gap(desktop)

  +mobile
    padding: 30px gap(mobile)
    flex-direction: column-reverse
    text-align: center
    line-height: 2

  &__column
    svg
      font-size: size(normal)

  ul
    // TODO: Fix. Workaround
    &.nav
    &.social-media-icons
      justify-content: flex-end
      +mobile
        justify-content: center
    list-style: none
    margin: 0
    display: flex
    align-items: center
    li+li
      margin-left: 15px
