.footer
  &-sticky
    // padding-top: ($navbar-height + 1rem)
    height: 100%
    display: flex
    flex-direction: column

  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  flex: 0 0 auto

  padding: gap(section) gap(desktop) 10px gap(desktop)
  // background: color()

  &__menu
    display: flex
    justify-content: space-between
    align-items: center

    width: 100%
    height: 100%
  ul
    list-style: none
    margin: 0
    li
      a
        font-size: size(small)

  &__heading
    @extend %uppercase
    font-weight: 800
    font-size: size(smaller)



  &__copyright
    font-size: size(smaller)
    margin-top: 100px
