.b {
  border: 1px solid red; }

html, body {
  height: 100%; }

:root {
  --color-primary: #4e73df;
  --color-primary-lighter: #5b7de1;
  --color-secondary: #FF0088;
  --color-info: #36b9cc;
  --color-success: #1cc88a;
  --color-warning: #f6c23e;
  --color-danger: #e74a3b;
  --color-light: whitesmoke;
  --color-dark: #333;
  --color-text: #6e707e;
  --color-white: #fff;
  --color-gray-100: #f8f9fc;
  --color-gray-200: #eaecf4;
  --color-gray-300: #dddfeb;
  --color-gray-400: #d1d3e2;
  --color-gray-500: #b7b9cc;
  --color-gray-600: #858796;
  --color-gray-700: #6e707e;
  --color-gray-800: #5a5c69;
  --color-gray-900: #3a3b45;
  --color-black: #000;
  --gap-desktop: 200px;
  --gap-mobile: 25px;
  --gap-section: 100px;
  --gap-section-m: 40px;
  --font-family-serif: Nunito;
  --font-family-sans-serif: Nunito;
  --font-family-monospace: Nunito;
  --size-larger: 2.2rem;
  --size-large: 1.6rem;
  --size-medium: 1.3rem;
  --size-normal: 1rem;
  --size-small: 0.95rem;
  --size-smaller: 0.8rem; }

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 1rem;
  border: none;
  color: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-size: 19px;
  color: var(--color-text);
  line-height: 1.6;
  font-weight: 600; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  font-weight: inherit; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

*:focus {
  outline: none; }

img,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

article,
aside,
figure,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font-family: var(--font-family-sans-serif); }

span {
  font-style: inherit;
  font-weight: inherit; }

a {
  position: relative;
  text-decoration: none;
  color: var(--color-primary); }
  a:visited {
    color: var(--color-secondary); }
  a:before {
    content: "";
    border-radius: 27364px;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: currentColor;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s; }
  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  a.button::before, a.navbar-logo::before, a.social::before {
    content: none; }
.b {
  border: 1px solid red; }

.header, .radio-slider, .mail-cta {
  background-color: #4e73df;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#224abe));
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
  color: rgba(245, 245, 245, 0.9); }

.header {
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  border-radius: 0% 0% 30% 0% / 0% 0% 50% 0%; }
  .header h1 {
    font-size: var(--size-larger);
    color: var(--color-white);
    line-height: 1.2;
    font-weight: 800;
    margin: 0 0 10px 0; }
  .header h2 {
    font-size: var(--size-medium);
    color: var(--color-white);
    line-height: 1.2;
    font-weight: 800;
    margin: 0 0 25px 0; }

.screenshot {
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 100px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 100px -2px rgba(0, 0, 0, 0.2);
  height: 450px;
  margin: 0 var(--gap-desktop);
  margin-top: -180px; }
  @media screen and (max-width: 768px) {
    .screenshot {
      margin: 0 var(--gap-mobile);
      margin-top: -180px; } }

.radio-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--gap-section) var(--gap-mobile);
  border-radius: 50% 50% 50% 50% / 12% 12% 12% 12%; }

.mail-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: var(--gap-section) var(--gap-desktop); }
  @media screen and (max-width: 768px) {
    .mail-cta {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: var(--gap-section-m) var(--gap-mobile); }
      .mail-cta__form input {
        max-width: 300px; } }
  .mail-cta__title {
    font-size: var(--size-larger);
    color: var(--color-white);
    line-height: 1.2;
    font-weight: 800;
    margin: 0 0 10px 0;
    margin-bottom: 50px; }
  .mail-cta__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .mail-cta__form input {
      width: 400px;
      padding: 20px;
      border-radius: 27364px;
      color: var(--color-white);
      background: rgba(255, 255, 255, 0.1); }
      .mail-cta__form input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.8); }
      .mail-cta__form input:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.8); }
      .mail-cta__form input::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.8); }
      .mail-cta__form input::placeholder {
        color: rgba(255, 255, 255, 0.8); }
    .mail-cta__form button {
      margin-left: -120px; }

.feature {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-shadow: 0 8px 20px -5px rgba(0, 0, 0, 0.15), 0 -15px 40px -2px rgba(0, 0, 0, 0.04);
          box-shadow: 0 8px 20px -5px rgba(0, 0, 0, 0.15), 0 -15px 40px -2px rgba(0, 0, 0, 0.04);
  background: var(--color-white);
  border-radius: 10px;
  padding: 20px 30px 30px; }
  .features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: var(--gap-section) var(--gap-desktop); }
    @media screen and (max-width: 768px) {
      .features {
        grid-template-columns: repeat(2, 1fr);
        padding: var(--gap-section-m) var(--gap-mobile); } }
  @media screen and (max-width: 768px) {
    .feature {
      padding: 15px; } }
  .feature:hover {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.15), 0 -15px 40px -2px rgba(0, 0, 0, 0.04);
            box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.15), 0 -15px 40px -2px rgba(0, 0, 0, 0.04); }
  .feature svg {
    font-size: var(--size-large);
    margin-bottom: 5px;
    color: var(--color-secondary); }
  .feature .title {
    font-size: var(--size-medium);
    color: var(--color-dark);
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 10px 0; }
  .feature .subtitle {
    font-size: var(--size-small);
    color: var(--color-text);
    line-height: 1.2;
    font-weight: 100;
    margin: 0 0 0px 0; }
.b {
  border: 1px solid red; }

#app {
  height: 100%; }

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none !important; } }

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  min-height: 4rem;
  padding: 30px var(--gap-desktop); }
  @media screen and (max-width: 768px) {
    .navbar {
      padding: 10px var(--gap-mobile); } }
  .navbar-logo img {
    max-height: 50px; }
  .navbar .navbar-item + .navbar-item {
    margin-left: 30px; }
  .navbar-menu a {
    color: var(--color-white); }

.button, button {
  font-size: var(--size-small);
  font-weight: 700;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  color: white;
  padding: 10px 20px;
  border-radius: 27364px;
  cursor: pointer; }
  .button:hover, button:hover, .button:visited, button:visited, .button:focus, button:focus {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1); }
  .button.btn-primary, button.btn-primary {
    background: #4e73df;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-primary:hover, button.btn-primary:hover, .button.btn-primary:visited, button.btn-primary:visited, .button.btn-primary:focus, button.btn-primary:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #7995e7; }
  .button.btn-primary-lighter, button.btn-primary-lighter {
    background: #5b7de1;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-primary-lighter:hover, button.btn-primary-lighter:hover, .button.btn-primary-lighter:visited, button.btn-primary-lighter:visited, .button.btn-primary-lighter:focus, button.btn-primary-lighter:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #869fe9; }
  .button.btn-secondary, button.btn-secondary {
    background: #FF0088;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-secondary:hover, button.btn-secondary:hover, .button.btn-secondary:visited, button.btn-secondary:visited, .button.btn-secondary:focus, button.btn-secondary:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #ff33a0; }
  .button.btn-info, button.btn-info {
    background: #36b9cc;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-info:hover, button.btn-info:hover, .button.btn-info:visited, button.btn-info:visited, .button.btn-info:focus, button.btn-info:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #5fc7d6; }
  .button.btn-success, button.btn-success {
    background: #1cc88a;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-success:hover, button.btn-success:hover, .button.btn-success:visited, button.btn-success:visited, .button.btn-success:focus, button.btn-success:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #34e3a4; }
  .button.btn-warning, button.btn-warning {
    background: #f6c23e;
    color: rgba(51, 51, 51, 0.8); }
    .button.btn-warning:hover, button.btn-warning:hover, .button.btn-warning:visited, button.btn-warning:visited, .button.btn-warning:focus, button.btn-warning:focus {
      color: rgba(51, 51, 51, 0.8);
      background: #f8d16f; }
  .button.btn-danger, button.btn-danger {
    background: #e74a3b;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-danger:hover, button.btn-danger:hover, .button.btn-danger:visited, button.btn-danger:visited, .button.btn-danger:focus, button.btn-danger:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #ed7468; }
  .button.btn-light, button.btn-light {
    background: whitesmoke;
    color: rgba(51, 51, 51, 0.8); }
    .button.btn-light:hover, button.btn-light:hover, .button.btn-light:visited, button.btn-light:visited, .button.btn-light:focus, button.btn-light:focus {
      color: rgba(51, 51, 51, 0.8);
      background: white; }
  .button.btn-dark, button.btn-dark {
    background: #333;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-dark:hover, button.btn-dark:hover, .button.btn-dark:visited, button.btn-dark:visited, .button.btn-dark:focus, button.btn-dark:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #4d4d4d; }
  .button.btn-text, button.btn-text {
    background: #6e707e;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-text:hover, button.btn-text:hover, .button.btn-text:visited, button.btn-text:visited, .button.btn-text:focus, button.btn-text:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #888a97; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: var(--size-smaller);
  padding: 30px var(--gap-desktop); }
  .footer-sticky {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  @media screen and (max-width: 768px) {
    .footer {
      padding: 20px var(--gap-mobile);
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      text-align: center; } }
  .footer__column svg {
    font-size: var(--size-normal); }
  .footer ul {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer ul.social-media-icons {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      @media screen and (max-width: 768px) {
        .footer ul.social-media-icons {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
    .footer ul li + li {
      margin-left: 15px; }

.slider {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --background: white;
  --padding: 30px;
  --border-radius: 5px;
  --transition: all .2s ease;
  --box-shadow: 0 5px 40px 0 rgba(0,0,0,.15), 0 2px 3px 0 rgba(0, 0, 0, .13);
  --bullets-height: 10px;
  --bullets-margin: 30px auto 0; }
  .slider input {
    display: none; }
  .slider__card {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: var(--padding);
    border-radius: var(--border-radius);
    background: var(--background);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow); }
    .slider__cards {
      position: relative;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      cursor: pointer; }
    .slider__card__title {
      font-size: var(--size-medium);
      color: var(--color-dark);
      line-height: 1.2;
      font-weight: 800;
      margin: 0 0 10px 0; }
    .slider__card__subtitle {
      font-size: var(--size-normal);
      color: var(--color-text);
      line-height: 1.2;
      font-weight: 400;
      margin: 0 0 20px 0; }
    .slider__card__link {
      font-size: var(--size-smaller);
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    #slide-0:checked ~ .slider__cards .slider__card--0 {
      position: relative;
      z-index: 2;
      -webkit-transform: translate(0) scale(1);
              transform: translate(0) scale(1); }
    #slide-1:checked ~ .slider__cards .slider__card--0 {
      z-index: 1;
      -webkit-transform: translateX(-100px) scale(0.85);
              transform: translateX(-100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-1:checked ~ .slider__cards .slider__card--0 {
          opacity: 0.6; } }
    #slide-2:checked ~ .slider__cards .slider__card--0 {
      z-index: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-2:checked ~ .slider__cards .slider__card--0 {
          -webkit-transform: translateX(-170px) scale(0.65);
                  transform: translateX(-170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-2:checked ~ .slider__cards .slider__card--0 {
          opacity: 0; } }
    #slide-0:checked ~ .slider__cards .slider__card--1 {
      z-index: 1;
      -webkit-transform: translateX(100px) scale(0.85);
              transform: translateX(100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-0:checked ~ .slider__cards .slider__card--1 {
          opacity: 0.6; } }
    #slide-1:checked ~ .slider__cards .slider__card--1 {
      position: relative;
      z-index: 2;
      -webkit-transform: translate(0) scale(1);
              transform: translate(0) scale(1); }
    #slide-2:checked ~ .slider__cards .slider__card--1 {
      z-index: 1;
      -webkit-transform: translateX(-100px) scale(0.85);
              transform: translateX(-100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-2:checked ~ .slider__cards .slider__card--1 {
          opacity: 0.6; } }
    #slide-0:checked ~ .slider__cards .slider__card--2 {
      z-index: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-0:checked ~ .slider__cards .slider__card--2 {
          -webkit-transform: translateX(170px) scale(0.65);
                  transform: translateX(170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-0:checked ~ .slider__cards .slider__card--2 {
          opacity: 0; } }
    #slide-1:checked ~ .slider__cards .slider__card--2 {
      z-index: 1;
      -webkit-transform: translateX(100px) scale(0.85);
              transform: translateX(100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-1:checked ~ .slider__cards .slider__card--2 {
          opacity: 0.6; } }
    #slide-2:checked ~ .slider__cards .slider__card--2 {
      position: relative;
      z-index: 2;
      -webkit-transform: translate(0) scale(1);
              transform: translate(0) scale(1); }
  .slider__bullets {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    height: var(--bullets-height);
    margin: var(--bullets-margin); }
    .slider__bullets__item {
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      border-radius: 1000px;
      background: rgba(0, 0, 0, 0.2);
      cursor: pointer; }
      .slider__bullets__item:hover {
        background: white; }
      #slide-0:checked ~ .slider__bullets .slider__bullets__item--0 {
        background: white; }
      #slide-1:checked ~ .slider__bullets .slider__bullets__item--1 {
        background: white; }
      #slide-2:checked ~ .slider__bullets .slider__bullets__item--2 {
        background: white; }

.social-media-icons .social {
  color: var(--color-text); }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
