body.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000; }

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999; }
  @media all and (max-width: 540px) {
    .sweet-alert {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      left: 15px;
      right: 15px; } }
  .sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block; }
  .sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal; }
  .sweet-alert fieldset {
    border: none;
    position: relative; }
  .sweet-alert .sa-error-container {
    background-color: #f1f1f1;
    margin-left: -17px;
    margin-right: -17px;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    webkit-transition: padding 0.15s, max-height 0.15s;
    -webkit-transition: padding 0.15s, max-height 0.15s;
    transition: padding 0.15s, max-height 0.15s; }
    .sweet-alert .sa-error-container.show {
      padding: 10px 0;
      max-height: 100px;
      webkit-transition: padding 0.2s, max-height 0.2s;
      -webkit-transition: padding 0.25s, max-height 0.25s;
      transition: padding 0.25s, max-height 0.25s; }
    .sweet-alert .sa-error-container .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: #ea7d7d;
      color: white;
      line-height: 24px;
      text-align: center;
      margin-right: 3px; }
    .sweet-alert .sa-error-container p {
      display: inline-block; }
  .sweet-alert .sa-input-error {
    position: absolute;
    top: 29px;
    right: 26px;
    width: 20px;
    height: 20px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }
    .sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
      content: "";
      width: 20px;
      height: 6px;
      background-color: #f06e57;
      border-radius: 3px;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      left: 50%;
      margin-left: -9px; }
    .sweet-alert .sa-input-error::before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .sweet-alert .sa-input-error::after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .sweet-alert .sa-input-error.show {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); }
  .sweet-alert input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
            box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
    padding: 0 12px;
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .sweet-alert input:focus {
      outline: none;
      -webkit-box-shadow: 0px 0px 3px #c4e6f5;
              box-shadow: 0px 0px 3px #c4e6f5;
      border: 1px solid #b4dbed; }
      .sweet-alert input:focus::-moz-placeholder {
        -webkit-transition: opacity 0.3s 0.03s ease;
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
      .sweet-alert input:focus:-ms-input-placeholder {
        -webkit-transition: opacity 0.3s 0.03s ease;
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
      .sweet-alert input:focus::-webkit-input-placeholder {
        -webkit-transition: opacity 0.3s 0.03s ease;
        transition: opacity 0.3s 0.03s ease;
        opacity: 0.5; }
    .sweet-alert input::-moz-placeholder {
      color: #bdbdbd; }
    .sweet-alert input:-ms-input-placeholder {
      color: #bdbdbd; }
    .sweet-alert input::-webkit-input-placeholder {
      color: #bdbdbd; }
  .sweet-alert.show-input input {
    display: block; }
  .sweet-alert .sa-confirm-button-container {
    display: inline-block;
    position: relative; }
  .sweet-alert .la-ball-fall {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: 4px;
    opacity: 0;
    visibility: hidden; }
  .sweet-alert button {
    background-color: #8CD4F5;
    color: white;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer; }
    .sweet-alert button:focus {
      outline: none;
      -webkit-box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
              box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
    .sweet-alert button:hover {
      background-color: #7ecff4; }
    .sweet-alert button:active {
      background-color: #5dc2f1; }
    .sweet-alert button.cancel {
      background-color: #C1C1C1; }
      .sweet-alert button.cancel:hover {
        background-color: #b9b9b9; }
      .sweet-alert button.cancel:active {
        background-color: #a8a8a8; }
      .sweet-alert button.cancel:focus {
        -webkit-box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important;
                box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }
    .sweet-alert button[disabled] {
      opacity: .6;
      cursor: default; }
    .sweet-alert button.confirm[disabled] {
      color: transparent; }
      .sweet-alert button.confirm[disabled] ~ .la-ball-fall {
        opacity: 1;
        visibility: visible;
        -webkit-transition-delay: 0s;
                transition-delay: 0s; }
    .sweet-alert button::-moz-focus-inner {
      border: 0; }
  .sweet-alert[data-has-cancel-button=false] button {
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }
  .sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
    padding-bottom: 40px; }
  .sweet-alert .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
    .sweet-alert .sa-icon.sa-error {
      border-color: #F27474; }
      .sweet-alert .sa-icon.sa-error .sa-x-mark {
        position: relative;
        display: block; }
      .sweet-alert .sa-icon.sa-error .sa-line {
        position: absolute;
        height: 5px;
        width: 47px;
        background-color: #F27474;
        display: block;
        top: 37px;
        border-radius: 2px; }
        .sweet-alert .sa-icon.sa-error .sa-line.sa-left {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          left: 17px; }
        .sweet-alert .sa-icon.sa-error .sa-line.sa-right {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          right: 16px; }
    .sweet-alert .sa-icon.sa-warning {
      border-color: #F8BB86; }
      .sweet-alert .sa-icon.sa-warning .sa-body {
        position: absolute;
        width: 5px;
        height: 47px;
        left: 50%;
        top: 10px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #F8BB86; }
      .sweet-alert .sa-icon.sa-warning .sa-dot {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        left: 50%;
        bottom: 10px;
        background-color: #F8BB86; }
    .sweet-alert .sa-icon.sa-info {
      border-color: #C9DAE1; }
      .sweet-alert .sa-icon.sa-info::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 29px;
        left: 50%;
        bottom: 17px;
        border-radius: 2px;
        margin-left: -2px;
        background-color: #C9DAE1; }
      .sweet-alert .sa-icon.sa-info::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin-left: -3px;
        top: 19px;
        background-color: #C9DAE1; }
    .sweet-alert .sa-icon.sa-success {
      border-color: #A5DC86; }
      .sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
        content: '';
        border-radius: 40px;
        border-radius: 50%;
        position: absolute;
        width: 60px;
        height: 120px;
        background: white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
      .sweet-alert .sa-icon.sa-success::before {
        border-radius: 120px 0 0 120px;
        top: -7px;
        left: -33px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 60px 60px;
        transform-origin: 60px 60px; }
      .sweet-alert .sa-icon.sa-success::after {
        border-radius: 0 120px 120px 0;
        top: -11px;
        left: 30px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 0px 60px;
        transform-origin: 0px 60px; }
      .sweet-alert .sa-icon.sa-success .sa-placeholder {
        width: 80px;
        height: 80px;
        border: 4px solid rgba(165, 220, 134, 0.2);
        border-radius: 40px;
        border-radius: 50%;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        position: absolute;
        left: -4px;
        top: -4px;
        z-index: 2; }
      .sweet-alert .sa-icon.sa-success .sa-fix {
        width: 5px;
        height: 90px;
        background-color: white;
        position: absolute;
        left: 28px;
        top: 8px;
        z-index: 1;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      .sweet-alert .sa-icon.sa-success .sa-line {
        height: 5px;
        background-color: #A5DC86;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 2; }
        .sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
          width: 25px;
          left: 14px;
          top: 46px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .sweet-alert .sa-icon.sa-success .sa-line.sa-long {
          width: 47px;
          right: 8px;
          top: 38px;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    .sweet-alert .sa-icon.sa-custom {
      background-size: contain;
      border-radius: 0;
      border: none;
      background-position: center center;
      background-repeat: no-repeat; }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7); }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1); }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }

@-webkit-keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@keyframes slideFromTop {
  0% {
    top: 0%; }
  100% {
    top: 50%; } }

@-webkit-keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@keyframes slideToTop {
  0% {
    top: 50%; }
  100% {
    top: 0%; } }

@-webkit-keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@keyframes slideFromBottom {
  0% {
    top: 70%; }
  100% {
    top: 50%; } }

@-webkit-keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

@keyframes slideToBottom {
  0% {
    top: 50%; }
  100% {
    top: 70%; } }

.showSweetAlert[data-animation=pop] {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }

.showSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.showSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideFromTop 0.3s;
  animation: slideFromTop 0.3s; }

.showSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideFromBottom 0.3s;
  animation: slideFromBottom 0.3s; }

.hideSweetAlert[data-animation=pop] {
  -webkit-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s; }

.hideSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none; }

.hideSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideToTop 0.4s;
  animation: slideToTop 0.4s; }

.hideSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideToBottom 0.3s;
  animation: slideToBottom 0.3s; }

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0px;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg); } }

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s; }

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1; } }

.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px; }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s; }

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

@keyframes pulseWarning {
  0% {
    border-color: #F8D486; }
  100% {
    border-color: #F8BB86; } }

.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486; }
  100% {
    background-color: #F8BB86; } }

.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate; }

@-webkit-keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -ms-transform: rotate(-45deg) \9; }

/* Success icon */
.sweet-alert .sa-icon.sa-success {
  border-color: transparent\9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9; }

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9; }

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff; }

.la-ball-fall.la-dark {
  color: #333; }

.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.la-ball-fall {
  width: 54px;
  height: 18px; }

.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-fall 1s ease-in-out infinite;
  animation: ball-fall 1s ease-in-out infinite; }

.la-ball-fall > div:nth-child(1) {
  -webkit-animation-delay: -200ms;
  animation-delay: -200ms; }

.la-ball-fall > div:nth-child(2) {
  -webkit-animation-delay: -100ms;
  animation-delay: -100ms; }

.la-ball-fall > div:nth-child(3) {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms; }

.la-ball-fall.la-sm {
  width: 26px;
  height: 8px; }

.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px; }

.la-ball-fall.la-2x {
  width: 108px;
  height: 36px; }

.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px; }

.la-ball-fall.la-3x {
  width: 162px;
  height: 54px; }

.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px; }

/*
 * Animation
 */
@-webkit-keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%); } }

@keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%); }
  10% {
    opacity: .5; }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  90% {
    opacity: .5; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%); } }
.b {
  border: 1px solid red; }

html, body {
  height: 100%; }

:root {
  --color-primary: #4e73df;
  --color-primary-lighter: #5b7de1;
  --color-secondary: #FF0088;
  --color-info: #36b9cc;
  --color-success: #1cc88a;
  --color-warning: #f6c23e;
  --color-danger: #e74a3b;
  --color-light: whitesmoke;
  --color-dark: #333;
  --color-text: #6e707e;
  --color-white: #fff;
  --color-gray-100: #f8f9fc;
  --color-gray-200: #eaecf4;
  --color-gray-300: #dddfeb;
  --color-gray-400: #d1d3e2;
  --color-gray-500: #b7b9cc;
  --color-gray-600: #858796;
  --color-gray-700: #6e707e;
  --color-gray-800: #5a5c69;
  --color-gray-900: #3a3b45;
  --color-black: #000;
  --gap-desktop: 200px;
  --gap-mobile: 25px;
  --gap-section: 70px;
  --gap-section-m: 40px;
  --font-family-serif: Nunito;
  --font-family-sans-serif: Nunito;
  --font-family-monospace: Nunito;
  --size-larger: 2.2rem;
  --size-large: 1.6rem;
  --size-medium: 1.3rem;
  --size-normal: 1rem;
  --size-small: 0.95rem;
  --size-smaller: 0.8rem; }

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 1rem;
  border: none;
  color: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-size: 19px;
  color: var(--color-text);
  line-height: 1.6;
  font-weight: 600; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  font-weight: inherit; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

*:focus {
  outline: none; }

img,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

article,
aside,
figure,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font-family: var(--font-family-sans-serif); }

span {
  font-style: inherit;
  font-weight: inherit; }

a {
  position: relative;
  text-decoration: none;
  color: var(--color-primary); }
  a:visited {
    color: var(--color-secondary); }
  a:before {
    content: "";
    border-radius: 27364px;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: currentColor;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s; }
  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  a.button::before, a.navbar-logo::before, a.social::before {
    content: none; }
.b {
  border: 1px solid red; }

.header, .radio-slider, .mail-cta {
  background-color: #4e73df;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #4e73df), to(#224abe));
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
  color: rgba(245, 245, 245, 0.9); }

.header {
  padding-top: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  border-radius: 0% 0% 30% 0% / 0% 0% 50% 0%; }
  .header h1 {
    font-size: var(--size-larger);
    color: var(--color-white);
    line-height: 1.2;
    font-weight: 800;
    margin: 0 0 10px 0; }
  .header h2 {
    font-size: var(--size-medium);
    color: var(--color-white);
    line-height: 1.2;
    font-weight: 800;
    margin: 0 0 25px 0; }

.screenshot {
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 100px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 100px -2px rgba(0, 0, 0, 0.2);
  height: 450px;
  margin: 0 var(--gap-desktop);
  margin-top: -180px; }
  @media screen and (max-width: 768px) {
    .screenshot {
      margin: 0 var(--gap-mobile);
      margin-top: -180px; } }

.radio-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--gap-section) var(--gap-mobile);
  border-radius: 50% 50% 50% 50% / 12% 12% 12% 12%; }

.mail-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 0% 0% 40% 40% / 0% 0% 20% 20%;
  padding: 50px var(--gap-desktop); }
  @media screen and (max-width: 768px) {
    .mail-cta {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: var(--gap-section-m) var(--gap-mobile); }
      .mail-cta__form input {
        max-width: 300px; } }
  .mail-cta__title {
    font-size: var(--size-large);
    color: var(--color-white);
    line-height: 1.2;
    font-weight: 800;
    margin: 0 0 10px 0;
    margin-bottom: 30px; }

.feature {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-shadow: 0 8px 20px -5px rgba(0, 0, 0, 0.15), 0 -15px 40px -2px rgba(0, 0, 0, 0.04);
          box-shadow: 0 8px 20px -5px rgba(0, 0, 0, 0.15), 0 -15px 40px -2px rgba(0, 0, 0, 0.04);
  background: var(--color-white);
  border-radius: 10px;
  padding: 20px 30px 30px; }
  .features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: var(--gap-section) var(--gap-desktop); }
    @media screen and (max-width: 768px) {
      .features {
        grid-template-columns: repeat(2, 1fr);
        padding: var(--gap-section-m) var(--gap-mobile); } }
  @media screen and (max-width: 768px) {
    .feature {
      padding: 15px; } }
  .feature:hover {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.15), 0 -15px 40px -2px rgba(0, 0, 0, 0.04);
            box-shadow: 0 12px 20px -5px rgba(0, 0, 0, 0.15), 0 -15px 40px -2px rgba(0, 0, 0, 0.04); }
  .feature svg {
    font-size: var(--size-large);
    margin-bottom: 5px;
    color: var(--color-secondary); }
  .feature .title {
    font-size: var(--size-medium);
    color: var(--color-dark);
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 10px 0; }
  .feature .subtitle {
    font-size: var(--size-small);
    color: var(--color-text);
    line-height: 1.2;
    font-weight: 100;
    margin: 0 0 0px 0; }
.b {
  border: 1px solid red; }

#app {
  height: 100%; }

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none !important; } }

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  min-height: 4rem;
  padding: 30px var(--gap-desktop); }
  @media screen and (max-width: 768px) {
    .navbar {
      padding: 10px var(--gap-mobile); } }
  .navbar-logo img {
    max-height: 50px; }
  .navbar .navbar-item + .navbar-item {
    margin-left: 30px; }
  .navbar-menu a {
    font-size: .7rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white); }

.button, button {
  font-size: var(--size-small);
  font-weight: 700;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  color: white;
  padding: 10px 20px;
  border-radius: 27364px;
  cursor: pointer; }
  .button + .button, button + .button, .button + button, button + button {
    margin-left: 15px; }
  .button:hover, button:hover, .button:visited, button:visited, .button:focus, button:focus {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1); }
  .button.btn-primary, button.btn-primary {
    background: #4e73df;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-primary:hover, button.btn-primary:hover, .button.btn-primary:visited, button.btn-primary:visited, .button.btn-primary:focus, button.btn-primary:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #7995e7; }
  .button.btn-primary-lighter, button.btn-primary-lighter {
    background: #5b7de1;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-primary-lighter:hover, button.btn-primary-lighter:hover, .button.btn-primary-lighter:visited, button.btn-primary-lighter:visited, .button.btn-primary-lighter:focus, button.btn-primary-lighter:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #869fe9; }
  .button.btn-secondary, button.btn-secondary {
    background: #FF0088;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-secondary:hover, button.btn-secondary:hover, .button.btn-secondary:visited, button.btn-secondary:visited, .button.btn-secondary:focus, button.btn-secondary:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #ff33a0; }
  .button.btn-info, button.btn-info {
    background: #36b9cc;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-info:hover, button.btn-info:hover, .button.btn-info:visited, button.btn-info:visited, .button.btn-info:focus, button.btn-info:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #5fc7d6; }
  .button.btn-success, button.btn-success {
    background: #1cc88a;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-success:hover, button.btn-success:hover, .button.btn-success:visited, button.btn-success:visited, .button.btn-success:focus, button.btn-success:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #34e3a4; }
  .button.btn-warning, button.btn-warning {
    background: #f6c23e;
    color: rgba(51, 51, 51, 0.8); }
    .button.btn-warning:hover, button.btn-warning:hover, .button.btn-warning:visited, button.btn-warning:visited, .button.btn-warning:focus, button.btn-warning:focus {
      color: rgba(51, 51, 51, 0.8);
      background: #f8d16f; }
  .button.btn-danger, button.btn-danger {
    background: #e74a3b;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-danger:hover, button.btn-danger:hover, .button.btn-danger:visited, button.btn-danger:visited, .button.btn-danger:focus, button.btn-danger:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #ed7468; }
  .button.btn-light, button.btn-light {
    background: whitesmoke;
    color: rgba(51, 51, 51, 0.8); }
    .button.btn-light:hover, button.btn-light:hover, .button.btn-light:visited, button.btn-light:visited, .button.btn-light:focus, button.btn-light:focus {
      color: rgba(51, 51, 51, 0.8);
      background: white; }
  .button.btn-dark, button.btn-dark {
    background: #333;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-dark:hover, button.btn-dark:hover, .button.btn-dark:visited, button.btn-dark:visited, .button.btn-dark:focus, button.btn-dark:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #4d4d4d; }
  .button.btn-text, button.btn-text {
    background: #6e707e;
    color: rgba(245, 245, 245, 0.9); }
    .button.btn-text:hover, button.btn-text:hover, .button.btn-text:visited, button.btn-text:visited, .button.btn-text:focus, button.btn-text:focus {
      color: rgba(245, 245, 245, 0.9);
      background: #888a97; }
  .button.btn-simple, button.btn-simple {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }
    .button.btn-simple:hover, button.btn-simple:hover {
      background: rgba(255, 255, 255, 0.1); }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-size: var(--size-smaller);
  padding: 30px var(--gap-desktop); }
  .footer-sticky {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  @media screen and (max-width: 768px) {
    .footer {
      padding: 20px var(--gap-mobile);
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      text-align: center; } }
  .footer__column svg {
    font-size: var(--size-normal); }
  .footer ul {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer ul.social-media-icons {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      @media screen and (max-width: 768px) {
        .footer ul.social-media-icons {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
    .footer ul li + li {
      margin-left: 15px; }

.slider {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  --background: white;
  --padding: 30px;
  --border-radius: 5px;
  --transition: all .2s ease;
  --box-shadow: 0 5px 40px 0 rgba(0,0,0,.15), 0 2px 3px 0 rgba(0, 0, 0, .13);
  --bullets-height: 10px;
  --bullets-margin: 30px auto 0; }
  .slider input {
    display: none; }
  .slider__card {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: var(--padding);
    border-radius: var(--border-radius);
    background: var(--background);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow); }
    .slider__cards {
      position: relative;
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      cursor: pointer; }
    .slider__card__title {
      font-size: var(--size-medium);
      color: var(--color-dark);
      line-height: 1.2;
      font-weight: 800;
      margin: 0 0 10px 0; }
    .slider__card__subtitle {
      font-size: var(--size-normal);
      color: var(--color-text);
      line-height: 1.2;
      font-weight: 400;
      margin: 0 0 20px 0; }
    .slider__card__link {
      font-size: var(--size-smaller);
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    #slide-0:checked ~ .slider__cards .slider__card--0 {
      position: relative;
      z-index: 2;
      -webkit-transform: translate(0) scale(1);
              transform: translate(0) scale(1); }
    #slide-1:checked ~ .slider__cards .slider__card--0 {
      z-index: 1;
      -webkit-transform: translateX(-100px) scale(0.85);
              transform: translateX(-100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-1:checked ~ .slider__cards .slider__card--0 {
          opacity: 0.6; } }
    #slide-2:checked ~ .slider__cards .slider__card--0 {
      z-index: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-2:checked ~ .slider__cards .slider__card--0 {
          -webkit-transform: translateX(-170px) scale(0.65);
                  transform: translateX(-170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-2:checked ~ .slider__cards .slider__card--0 {
          opacity: 0; } }
    #slide-3:checked ~ .slider__cards .slider__card--0 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-4:checked ~ .slider__cards .slider__card--0 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-5:checked ~ .slider__cards .slider__card--0 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-6:checked ~ .slider__cards .slider__card--0 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-7:checked ~ .slider__cards .slider__card--0 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-0:checked ~ .slider__cards .slider__card--1 {
      z-index: 1;
      -webkit-transform: translateX(100px) scale(0.85);
              transform: translateX(100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-0:checked ~ .slider__cards .slider__card--1 {
          opacity: 0.6; } }
    #slide-1:checked ~ .slider__cards .slider__card--1 {
      position: relative;
      z-index: 2;
      -webkit-transform: translate(0) scale(1);
              transform: translate(0) scale(1); }
    #slide-2:checked ~ .slider__cards .slider__card--1 {
      z-index: 1;
      -webkit-transform: translateX(-100px) scale(0.85);
              transform: translateX(-100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-2:checked ~ .slider__cards .slider__card--1 {
          opacity: 0.6; } }
    #slide-3:checked ~ .slider__cards .slider__card--1 {
      z-index: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-3:checked ~ .slider__cards .slider__card--1 {
          -webkit-transform: translateX(-170px) scale(0.65);
                  transform: translateX(-170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-3:checked ~ .slider__cards .slider__card--1 {
          opacity: 0; } }
    #slide-4:checked ~ .slider__cards .slider__card--1 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-5:checked ~ .slider__cards .slider__card--1 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-6:checked ~ .slider__cards .slider__card--1 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-7:checked ~ .slider__cards .slider__card--1 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-0:checked ~ .slider__cards .slider__card--2 {
      z-index: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-0:checked ~ .slider__cards .slider__card--2 {
          -webkit-transform: translateX(170px) scale(0.65);
                  transform: translateX(170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-0:checked ~ .slider__cards .slider__card--2 {
          opacity: 0; } }
    #slide-1:checked ~ .slider__cards .slider__card--2 {
      z-index: 1;
      -webkit-transform: translateX(100px) scale(0.85);
              transform: translateX(100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-1:checked ~ .slider__cards .slider__card--2 {
          opacity: 0.6; } }
    #slide-2:checked ~ .slider__cards .slider__card--2 {
      position: relative;
      z-index: 2;
      -webkit-transform: translate(0) scale(1);
              transform: translate(0) scale(1); }
    #slide-3:checked ~ .slider__cards .slider__card--2 {
      z-index: 1;
      -webkit-transform: translateX(-100px) scale(0.85);
              transform: translateX(-100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-3:checked ~ .slider__cards .slider__card--2 {
          opacity: 0.6; } }
    #slide-4:checked ~ .slider__cards .slider__card--2 {
      z-index: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-4:checked ~ .slider__cards .slider__card--2 {
          -webkit-transform: translateX(-170px) scale(0.65);
                  transform: translateX(-170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-4:checked ~ .slider__cards .slider__card--2 {
          opacity: 0; } }
    #slide-5:checked ~ .slider__cards .slider__card--2 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-6:checked ~ .slider__cards .slider__card--2 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-7:checked ~ .slider__cards .slider__card--2 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-0:checked ~ .slider__cards .slider__card--3 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-1:checked ~ .slider__cards .slider__card--3 {
      z-index: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-1:checked ~ .slider__cards .slider__card--3 {
          -webkit-transform: translateX(170px) scale(0.65);
                  transform: translateX(170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-1:checked ~ .slider__cards .slider__card--3 {
          opacity: 0; } }
    #slide-2:checked ~ .slider__cards .slider__card--3 {
      z-index: 1;
      -webkit-transform: translateX(100px) scale(0.85);
              transform: translateX(100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-2:checked ~ .slider__cards .slider__card--3 {
          opacity: 0.6; } }
    #slide-3:checked ~ .slider__cards .slider__card--3 {
      position: relative;
      z-index: 2;
      -webkit-transform: translate(0) scale(1);
              transform: translate(0) scale(1); }
    #slide-4:checked ~ .slider__cards .slider__card--3 {
      z-index: 1;
      -webkit-transform: translateX(-100px) scale(0.85);
              transform: translateX(-100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-4:checked ~ .slider__cards .slider__card--3 {
          opacity: 0.6; } }
    #slide-5:checked ~ .slider__cards .slider__card--3 {
      z-index: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-5:checked ~ .slider__cards .slider__card--3 {
          -webkit-transform: translateX(-170px) scale(0.65);
                  transform: translateX(-170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-5:checked ~ .slider__cards .slider__card--3 {
          opacity: 0; } }
    #slide-6:checked ~ .slider__cards .slider__card--3 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-7:checked ~ .slider__cards .slider__card--3 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-0:checked ~ .slider__cards .slider__card--4 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-1:checked ~ .slider__cards .slider__card--4 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-2:checked ~ .slider__cards .slider__card--4 {
      z-index: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-2:checked ~ .slider__cards .slider__card--4 {
          -webkit-transform: translateX(170px) scale(0.65);
                  transform: translateX(170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-2:checked ~ .slider__cards .slider__card--4 {
          opacity: 0; } }
    #slide-3:checked ~ .slider__cards .slider__card--4 {
      z-index: 1;
      -webkit-transform: translateX(100px) scale(0.85);
              transform: translateX(100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-3:checked ~ .slider__cards .slider__card--4 {
          opacity: 0.6; } }
    #slide-4:checked ~ .slider__cards .slider__card--4 {
      position: relative;
      z-index: 2;
      -webkit-transform: translate(0) scale(1);
              transform: translate(0) scale(1); }
    #slide-5:checked ~ .slider__cards .slider__card--4 {
      z-index: 1;
      -webkit-transform: translateX(-100px) scale(0.85);
              transform: translateX(-100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-5:checked ~ .slider__cards .slider__card--4 {
          opacity: 0.6; } }
    #slide-6:checked ~ .slider__cards .slider__card--4 {
      z-index: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-6:checked ~ .slider__cards .slider__card--4 {
          -webkit-transform: translateX(-170px) scale(0.65);
                  transform: translateX(-170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-6:checked ~ .slider__cards .slider__card--4 {
          opacity: 0; } }
    #slide-7:checked ~ .slider__cards .slider__card--4 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
    #slide-0:checked ~ .slider__cards .slider__card--5 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-1:checked ~ .slider__cards .slider__card--5 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-2:checked ~ .slider__cards .slider__card--5 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-3:checked ~ .slider__cards .slider__card--5 {
      z-index: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-3:checked ~ .slider__cards .slider__card--5 {
          -webkit-transform: translateX(170px) scale(0.65);
                  transform: translateX(170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-3:checked ~ .slider__cards .slider__card--5 {
          opacity: 0; } }
    #slide-4:checked ~ .slider__cards .slider__card--5 {
      z-index: 1;
      -webkit-transform: translateX(100px) scale(0.85);
              transform: translateX(100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-4:checked ~ .slider__cards .slider__card--5 {
          opacity: 0.6; } }
    #slide-5:checked ~ .slider__cards .slider__card--5 {
      position: relative;
      z-index: 2;
      -webkit-transform: translate(0) scale(1);
              transform: translate(0) scale(1); }
    #slide-6:checked ~ .slider__cards .slider__card--5 {
      z-index: 1;
      -webkit-transform: translateX(-100px) scale(0.85);
              transform: translateX(-100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-6:checked ~ .slider__cards .slider__card--5 {
          opacity: 0.6; } }
    #slide-7:checked ~ .slider__cards .slider__card--5 {
      z-index: 0;
      -webkit-transform: translateX(-210px) scale(0.65);
              transform: translateX(-210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-7:checked ~ .slider__cards .slider__card--5 {
          -webkit-transform: translateX(-170px) scale(0.65);
                  transform: translateX(-170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-7:checked ~ .slider__cards .slider__card--5 {
          opacity: 0; } }
    #slide-0:checked ~ .slider__cards .slider__card--6 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-1:checked ~ .slider__cards .slider__card--6 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-2:checked ~ .slider__cards .slider__card--6 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-3:checked ~ .slider__cards .slider__card--6 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-4:checked ~ .slider__cards .slider__card--6 {
      z-index: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-4:checked ~ .slider__cards .slider__card--6 {
          -webkit-transform: translateX(170px) scale(0.65);
                  transform: translateX(170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-4:checked ~ .slider__cards .slider__card--6 {
          opacity: 0; } }
    #slide-5:checked ~ .slider__cards .slider__card--6 {
      z-index: 1;
      -webkit-transform: translateX(100px) scale(0.85);
              transform: translateX(100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-5:checked ~ .slider__cards .slider__card--6 {
          opacity: 0.6; } }
    #slide-6:checked ~ .slider__cards .slider__card--6 {
      position: relative;
      z-index: 2;
      -webkit-transform: translate(0) scale(1);
              transform: translate(0) scale(1); }
    #slide-7:checked ~ .slider__cards .slider__card--6 {
      z-index: 1;
      -webkit-transform: translateX(-100px) scale(0.85);
              transform: translateX(-100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-7:checked ~ .slider__cards .slider__card--6 {
          opacity: 0.6; } }
    #slide-0:checked ~ .slider__cards .slider__card--7 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-1:checked ~ .slider__cards .slider__card--7 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-2:checked ~ .slider__cards .slider__card--7 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-3:checked ~ .slider__cards .slider__card--7 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-4:checked ~ .slider__cards .slider__card--7 {
      z-index: -1;
      opacity: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
    #slide-5:checked ~ .slider__cards .slider__card--7 {
      z-index: 0;
      -webkit-transform: translateX(210px) scale(0.65);
              transform: translateX(210px) scale(0.65); }
      @media (max-width: 900px) {
        #slide-5:checked ~ .slider__cards .slider__card--7 {
          -webkit-transform: translateX(170px) scale(0.65);
                  transform: translateX(170px) scale(0.65); } }
      @media (max-width: 768px) {
        #slide-5:checked ~ .slider__cards .slider__card--7 {
          opacity: 0; } }
    #slide-6:checked ~ .slider__cards .slider__card--7 {
      z-index: 1;
      -webkit-transform: translateX(100px) scale(0.85);
              transform: translateX(100px) scale(0.85); }
      @media (max-width: 768px) {
        #slide-6:checked ~ .slider__cards .slider__card--7 {
          opacity: 0.6; } }
    #slide-7:checked ~ .slider__cards .slider__card--7 {
      position: relative;
      z-index: 2;
      -webkit-transform: translate(0) scale(1);
              transform: translate(0) scale(1); }
  .slider__bullets {
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    height: var(--bullets-height);
    margin: var(--bullets-margin); }
    .slider__bullets__item {
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      width: 10px;
      height: 10px;
      margin: 0 5px;
      border-radius: 1000px;
      background: rgba(0, 0, 0, 0.2);
      cursor: pointer; }
      .slider__bullets__item:hover {
        background: white; }
      #slide-0:checked ~ .slider__bullets .slider__bullets__item--0 {
        background: white; }
      #slide-1:checked ~ .slider__bullets .slider__bullets__item--1 {
        background: white; }
      #slide-2:checked ~ .slider__bullets .slider__bullets__item--2 {
        background: white; }
      #slide-3:checked ~ .slider__bullets .slider__bullets__item--3 {
        background: white; }
      #slide-4:checked ~ .slider__bullets .slider__bullets__item--4 {
        background: white; }
      #slide-5:checked ~ .slider__bullets .slider__bullets__item--5 {
        background: white; }
      #slide-6:checked ~ .slider__bullets .slider__bullets__item--6 {
        background: white; }
      #slide-7:checked ~ .slider__bullets .slider__bullets__item--7 {
        background: white; }

.social-media-icons .social {
  color: var(--color-text); }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }
