$body-size: 19px !default
$body-rendering: optimizeLegibility !default
$body-color: color(text) !default

// Native css variables ì
// with Sass variables & functions
// (see both utils/native-vars & functions)
\:root
  // Colors
  @each $name, $color in $colors
    --color-#{$name}: #{$color}
  // Gaps
  @each $key, $value in $gaps
    --gap-#{$key}: #{$value}
  // Fonts
  @each $type, $family in $families
    --font-family-#{$type}: #{$family}
  // Sizes
  @each $name, $size in $sizes
    --size-#{$name}: #{$size}

// Reset
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
  margin: 0
  padding: 0

// TODO: mv to Headings
h1,
h2,
h3,
h4,
h5,
h6
  font-size: 100%
  font-weight: normal

// TODO: mv to Forms
button,
input,
select,
textarea
  margin: 0
  font-size: 1rem

a
  text-decoration: none

html
  @extend %height100
  box-sizing: border-box
  background: white
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: $body-rendering
  text-size-adjust: 100%

body
  @extend %height100
  display: flex
  flex-direction: column
  font-size: $body-size
  color: $body-color
  line-height: 1.6
  font-weight: 600

*
  &,
  &::before,
  &::after
    box-sizing: inherit

// Bad thing. I don't like outlines but are great for accessibilty, think to remove/improve this.
*:focus
  outline: none

// Media
img,
audio,
video
  height: auto
  max-width: 100%

// Iframe
iframe
  border: 0

article,
aside,
figure,
header,
hgroup,
section
  display: block

// All elements with sans-serif family
body,
button,
input,
select,
textarea
  font-family: family(sans-serif)


span
  font-style: inherit
  font-weight: inherit
