
// This file stores all global variables, mixins, placeholders and functions
// Don't put any css code here as it's automatically attached to any Sass file.

$DEV-MODE: true

$dark: #333
$light: whitesmoke

$radius-rounded: 27364px


@import "utils/all.sass"
