
// NOTE: This is a SCSS file 'cause in SASS we can't indent arrays
// making this file unreadable.
// Both this file and "functions" help to create the native css variables used in the project.

$colors: (
  primary: $primary,
  primary-lighter: lighten($primary, 3%),
  secondary: $secondary,

  info: $info,
  success: $success,
  warning: $warning,
  danger: $danger,

  light: $light,
  dark: $dark,
  text: $text
);

$gray-scale: (
  white: $white,
  gray-100: $gray-100,
  gray-200: $gray-200,
  gray-300: $gray-300,
  gray-400: $gray-400,
  gray-500: $gray-500,
  gray-600: $gray-600,
  gray-700: $gray-700,
  gray-800: $gray-800,
  gray-900: $gray-900,
  black: $black
);

$gaps: (
  desktop: 200px,
  mobile: 25px,
  section: 100px,
  section-m: 40px,
);

$families: (
  serif: 'Nunito',
  sans-serif: 'Nunito',
  monospace: 'Nunito',
);

$sizes: (
  larger: 2.2rem,
  large: 1.6rem,
  medium: 1.3rem,
  normal: 1rem,
  small: .95rem,
  smaller: .8rem,
);

$brand-colors: (
  fb: $brand-facebook,
  gh: $brand-github,
  ig: $brand-instagram,
  md: $brand-medium,
);
