
// NOTE: This is a SCSS file 'cause in SASS we can't indent arrays
// making this file unreadable.
// Both this file and "functions" help to create the native css variables used in the project.

// $colors: (
  // gray: $gray,
  // blue: $blue,
  // indigo: $indigo,
  // purple: $purple,
  // pink: $pink,
  // red: $red,
  // orange: $orange,
  // yellow: $yellow,
  // green: $green,
  // teal: $teal,
  // cyan: $cyan
// );

$colors: (
  primary: $primary,
  primary-lighter: lighten($primary, 3%),
  secondary: $secondary,

  info: $info,
  success: $success,
  warning: $warning,
  danger: $danger,

  text: $text
);

$gaps: (
  desktop: 150px,
  mobile: 20px,
  section: 70px,
);

$families: (
  serif: 'Nunito',
  sans-serif: 'Nunito',
  monospace: 'Nunito',
);

$sizes: (
  larger: 1.6rem,
  large: 1.4rem,
  medium: 1.2rem,
  normal: 1rem,
  small: .9rem,
  smaller: .75rem,
);
